<html>
<head>
	<title>Wellness Forum</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="/js/bar.js"></script>
	<script src="/js/popUp.js"></script>
	<script src="/js/forumRecords.js"></script>
	<script src="js/bootstrap-4.6.js"></script>
	<script src="routes/addPost"></script>
	<script src="routes/addRecords.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap-4.6.css" rel="stylesheet">
	<link href="/css/bootstrap.min-4.6.css" rel="stylesheet">
	<link href="/css/post.css" rel="stylesheet">
	<link href="/css/edit-post.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="home"> Wellness Forum</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    		<span class="navbar-toggler-icon"></span>
  		</button>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="record">Record</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="forum">Forum</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="profile">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="help">Help</a>
				</li>
				<li>
					<button type="button" id="logout" class="btn btn-danger">Log Out</button>
				</li>
			</ul>
		</div>
	</nav>

	<div id="main" class="jumbotron">
    	<h3 class="title">Forum</h3>
	</div>

    <button onClick="openModal()" id="button">+ Add a new post</button><br><br>
    <button id="postButton">
		<div class="posts">

			<h3>Sleep Schedule</h3>

			<p>Haley Hammock: Here is my sleep schedule plan!</p>
			<p>Good Sleep<p>
			<p>Delete and edit function coming soon!</p>
		</div>
		</button>

    {{#each posts}}

    <button id="postButton">
		<div class="posts">

			<h3>{{topic}}</h3>

			<p>{{message}}</p>
			<p>{{recordName}}<p>
			<p>Delete and edit function coming soon!</p>
		</div>
		</button>

	{{/each}}

    <div id="myModal" class="modal">

    	<div class="modal-content">
    		<button onClick="openModal()" id="close">x</button>

    		<form id="addPosts" role="form" method="get" action="/addPost">
					<label class="formlabels" for="topic" id="topic" name="topic">Topic:     </label>
					<input type="text" class="forLabels" id="topic" name="topic"><br><br>
					<label class="formlabelsMessage" for="message">Message:</label>
					<textarea name="message" rows="10" cols="25"></textarea><br><br>
						<label for="title" class="formlabels">Find records:</label>
						 <input type="button" value="Attach"onClick="forumRecord()">
						<select class="formLabels" id="arr" name="recordName"></select>
						<br><br>





					<input type="submit" id="submitBtn" class="btn btn-default" value="Post"></input><br>
				</form>
				</div><br>
		</div>
	</div>


</body>
</html>
