<html>
<head>
	<title>Wellness Forum</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap-4.6.js"></script>
	<script src="/js/bar.js"></script>
	<script src="js/record.js"></script>


	<link href="/css/bootstrap-4.6.css" rel="stylesheet">
	<link href="/css/bootstrap.min-4.6.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="home"> Wellness Forum</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    		<span class="navbar-toggler-icon"></span>
  		</button>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="home">Home</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="record">Record</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="forum">Forum</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="profile">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="help">Help</a>
				</li>
				<li>
					<button type="button" id="logout" class="btn btn-danger">Log Out</button>
				</li>
			</ul>
		</div>
	</nav>

	<div id="main" class="jumbotron">
		<h3 class="thetitle">Record Data</h3>
	</div>

	<div class="container">
		<form id="addRecordForm" role="form" method="get" action="/addRecord" class="was-validated">
			<div class="form-group">
				<label for="subject">Subject</label>
				<select name="subject" class="custom-select" id="subject">
					<option value="Sleeping">Sleep</option>
					<option value="Mood">Mood</option>
					<option value="Exercise">Excercise</option>
				</select>
			</div>
			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" class="form-control" id="title" placeholder="Enter title" name="title" required>
				<div class="invalid-feedback">
					Please enter a title.
				</div>
			</div>
			<div class="form-group">
				<label for="date">Date</label>
				<input type="text" class="form-control" id="date" placeholder="mm/dd/yyyy" name="date" required>
				<div class="invalid-feedback">
					Please enter a date.
				</div>
			</div>

			<div class="form-group group" id="Sleeping">
				<p> How many hours did you sleep last night? (Optional)</p>
				<input type="text" class="form-control" id="input" name="input">
			</div>
			<div class="form-group group" id="Mood">
				<p> On a scale of 1 to 10 how happy were you yesterday? (Optional)</p>
				<input type="text" class="form-control" id="input" name="input">
			</div>
			<div class="form-group group" id="Exercise">
				<p> How many hours of excercise did you get yesterday? (Optional)</p>
				<input type="text" class="form-control" id="input" name="input">
			</div>

			<div class="form-group">
				<input type="button" class="btn btn-danger" id="clear" value="Clear">
				<input type="submit" class="btn btn-success" id="save" value="Save">
			</div>
		</form>
	</div>
</body>
</html>
